html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  position: relative;
}

.header:after {
  position: absolute;
  content: "";
  left: 0;
  top: 88px;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 50px;
}

.navigation {
  background: #fff;
  position: relative;
}

.menu,
.second_menu_list {
  position: relative;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu_link,
.second_menu_link {
  display: inline-block;
  color: black;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 32px 35px;
  text-decoration: none;
}

.menu_link:hover,
.second_menu_link:hover {
  opacity: .6;
}

.catalog {
  border-right: 1px solid #e7e7e7;
}

.catalog_link {
  padding-left: 0;
}

.logo {
  display: inline-block;
  top: 0;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);
  position: absolute;
}

.logo:hover {
  opacity: .6;
}

.logo_pic {
  display: inline-block;
  padding: 47px 75px;
  background: url(../img/logo-desktop.svg) no-repeat;
  background-position-y: center;
}

.search {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.search_link {
  position: relative;
  padding: 32px 35px;
}

.search_link .search_link_ic {
  padding: 6px;
}

.search_link svg {
  position: absolute;
  top: 38px;
  left: 32px;
  width: 18px;
  height: 19px;
  opacity: .2;
}

.search_link:hover {
  opacity: 1;
}

.search_link:hover svg {
  opacity: 1;
  fill: #63d1bb;
}

.search_link_text {
  display: none;
}

.basket_link {
  padding-right: 0;
  padding-left: 75px;
  position: relative;
}

.basket_link p {
  margin: 0;
  padding: 0;
}

.basket_link svg {
  position: absolute;
  top: 38px;
  left: 32px;
  width: 18px;
  height: 19px;
  opacity: .2;
}

.basket_link:hover {
  opacity: 1;
}

.basket_link:hover p {
  opacity: .6;
}

.basket_link:hover svg {
  opacity: 1;
  fill: #63d1bb;
}

.item_wrapper_left {
  display: inline-block;
  float: left;
}

.item_wrapper_right {
  display: inline-block;
  float: right;
}

.desktop_menu {
  display: inline-block;
  float: left;
}

.second_menu_item {
  display: inline-block;
}

.second_menu_link {
  font-size: 14px;
  padding: 19px 35px;
}

.tablet_order_link {
  padding-left: 0;
}

.new_arrivals_link {
  padding-left: 0;
  padding-right: 28px;
}

.delivery {
  padding-right: 0;
  font-family: Verdana Regular;
  font-weight: 400;
  color: #444;
}

.tablet_menu {
  display: none;
}

.tablet_catalog_link {
  padding-left: 0;
}

.trigger {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 35px;
  font-size: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.trigger_line {
  position: relative;
  display: inline-block;
  padding: 1px 10px;
  vertical-align: bottom;
  background: #000;
  -webkit-transition: background .3s .5s;
  transition: background .3s .5s;
}

.trigger_line::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: top .3s .3s,-webkit-transform .3s;
  transition: top .3s .3s,-webkit-transform .3s;
  transition: top .3s .3s,transform .3s;
  transition: top .3s .3s,transform .3s,-webkit-transform .3s;
  transition: top .3s .3s,transform .3s;
}

.trigger_line:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: top .3s .3s,-webkit-transform .3s;
  transition: top .3s .3s,-webkit-transform .3s;
  transition: top .3s .3s,transform .3s;
  transition: top .3s .3s,transform .3s,-webkit-transform .3s;
  transition: top .3s .3s,transform .3s;
}

.trigger--show .trigger_line {
  width: 28px;
  background: 0 0;
  -webkit-transition: background 0s linear;
  transition: background 0s linear;
}

.trigger--show .trigger_line::before,
.trigger--show .trigger_line::after {
  width: 28px;
  top: 10px;
  right: 0;
  -webkit-transition: top .3s,-webkit-transform .3s .5s;
  transition: top .3s,-webkit-transform .3s .5s;
  transition: top .3s,transform .3s .5s;
  transition: top .3s,transform .3s .5s,-webkit-transform .3s .5s;
}

.trigger--show .trigger_line::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.trigger--show .trigger_line::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.menu.active {
  position: absolute;
  top: 89px;
  right: 0;
  display: block;
  width: 260px;
}

.menu.active .item_wrapper_left {
  display: block;
  float: none;
}

.menu.active .item_wrapper_right {
  display: block;
  float: none;
}

.menu.active .menu_item {
  display: block;
  border-bottom: 1px solid #e7e7e7;
}

.menu.active .menu_link {
  padding: 32px 35px;
}

.menu.active .catalog_link {
  padding-right: 72px;
}

.menu.active .order_link {
  padding-right: 64px;
}

.menu.active .search,
.menu.active .catalog {
  border-right: none;
  border-left: none;
}

.menu.active .search_link {
  padding-right: 84px;
}

.menu.active .search_link svg,
.menu.active .basket_link svg {
  left: 0;
}

.menu.active .search_link_text {
  display: inline-block;
}