html
	box-sizing: border-box

.clearfix::after
	content: ""
	display: block
	clear: both

.header
	position: relative
	&:after
		position: absolute
		content: ""
		left: 0
		top: 88px
		width: 100%
		height: 1px
		background: #e7e7e7

.container
	max-width: 1150px
	margin: 0 auto
	padding: 0 50px

// HEADER

.navigation
	background: #fff
	position: relative

.menu,
.second_menu_list
	position: relative
	width: 100%
	font-size: 0
	margin: 0
	padding: 0
	list-style: none

.menu_item
	display: inline-block
	margin: 0
	padding: 0

.menu_link,
.second_menu_link
	display: inline-block
	color: black
	font-family: Verdana
	font-size: 16px
	font-weight: 700
	line-height: 24px
	padding: 32px 35px
	text-decoration: none
	&:hover
		opacity: .6

.catalog
	border-right: 1px solid #e7e7e7

.catalog_link
	padding-left: 0

.logo
	display: inline-block
	top: 0
	left: calc(50% - 75px)
	position: absolute
	z-index: 10
	&:hover
		opacity: .6

.logo_pic
	display: inline-block
	padding: 44px 75px
	background: url(../img/logo-desktop.svg) no-repeat
	background-position-y: center

.search
	border-left: 1px solid #e7e7e7
	border-right: 1px solid #e7e7e7

.search_link
	position: relative
	padding: 32px 35px
	& .search_link_ic
		padding: 6px
	& svg
		position: absolute
		top: 38px
		left: 32px
		width: 18px
		height: 19px
		opacity: .2
	&:hover svg
		opacity: 1
	& .search_link_svg
		fill: #63d1bb

.search_link_text
	display: none

.basket_link
	padding-right: 0
	padding-left: 75px
	position: relative
	& p
		margin: 0
		padding: 0
	& svg
		position: absolute
		top: 38px
		left: 32px
		width: 18px
		height: 19px
		fill: #63d1bb
		opacity: .2
	&:hover
		opacity: 1
		& p
			opacity: .6
		& svg
			opacity: 1
			fill: #63d1bb

.item_wrapper_left
	display: inline-block
	float: left

.item_wrapper_right
	display: inline-block
	float: right

.desktop_menu
	display: inline-block
	float: left

.second_menu_item
	display: inline-block

.second_menu_link
	font-size: 14px
	padding: 19px 35px

.tablet_order_link
	padding-left: 0

.new_arrivals_link
	padding-left: 0
	padding-right: 28px

.delivery
	padding-right: 0
	font-family: Verdana Regular
	font-weight: 400
	color: #444

.tablet_menu
	display: none

.tablet_catalog_link
	padding-left: 0

.trigger
	display: none
	position: absolute
	top: 0
	right: 0
	padding: 44px
	font-size: 0
	box-sizing: content-box

.trigger_line
	position: absolute
	top: 45px
	right: 0
	display: inline-block
	padding: 1px 10px
	vertical-align: bottom
	background: #000
	transition: background .3s .5s
	&::before
		content: ""
		position: absolute
		top: -4px
		left: 0
		width: 100%
		height: 2px
		background: #000
		transform-origin: 50% 50%
		transition: top .3s .3s, transform .3s
		transition: top .3s .3s, transform .3s

	&:after
		content: ""
		position: absolute
		top: 4px
		left: 0
		width: 100%
		height: 2px
		background: #000
		transform-origin: 50% 50%
		transition: top .3s .3s, transform .3s
		transition: top .3s .3s, transform .3s

.trigger_show .trigger_line
	background: 0 0
	transition: background 0s linear

.trigger_show .trigger_line::before,
.trigger_show .trigger_line::after
	width: 20px
	top: 0
	right: -10px
	transition: top .3s, transform .3s .5s

.trigger_show .trigger_line::before
	transform: rotate3d(0, 0, 1, 45deg)

.trigger_show .trigger_line::after
	transform: rotate3d(0, 0, 1, -45deg)

.menu.active
	position: absolute
	top: 89px
	right: calc(50% - 130px)
	display: block
	width: 260px
	background: #fff
	z-index: 10
	& .item_wrapper_left
		display: block
		float: none

	& .item_wrapper_right
		display: block
		float: none

	& .menu_item
		display: block
		border-bottom: 1px solid #e7e7e7

	& .menu_link
		padding: 32px 35px

	& .catalog_link
		padding-right: 72px

	& .order_link
		padding-right: 64px

	& .search, .catalog
		border-right: none
		border-left: none

	& .search_link
		padding-right: 84px

	& .search_link svg, .basket_link svg
		left: 0

	& .search_link_text
		display: inline-block

// END HEADER

// FOOTER

footer
	margin-top: 100px //DEV !!!!!!!!!!!!!
	background: #f1f1f1
	text-align: center

.footer_logo
	display: inline-block
	float: left
	& .footer_logo_svg
		width: 102px
		padding: 54px 51px
		padding-left: 0
		fill: #000000
		transition: all ease .4s
	&:hover .footer_logo_svg
		fill: #46c1ae

.social
	display: inline-block
	list-style: none
	margin: 0
	margin-top: 55px
	padding: 0

.social_link
	padding: 20px
	&:hover .inst,
	&:hover .fb,
	&:hover .twitter
		fill: #46c1ae
		transition: all ease .4s

.inst svg
	width: 20px

.fb svg
	width: 15px

.twitter svg
	width: 24px

.social_item
	display: inline-block

.design
	position: relative
	display: inline-block
	float: right

.design_text_link
	display: inline-block
	color: black
	font-family: Verdana
	font-size: 18px
	font-weight: 700
	line-height: 18px
	padding: 40px 0
	text-decoration: none

.design_ic
	display: inline-block
	padding: 20px
	padding-right: 0
	vertical-align: middle

.design_ic
	width: 20px

.design_ic_style
	fill: #63d1bb

// PRESENTATION =====================

.content_home
	background: #f9f9f9
	margin-bottom: 70px

.presentation
	background: url("../img/content/hero-desktop.jpg") no-repeat center 20px

.presentation_title
	max-width: 640px
	color: #231f20
	font-family: Verdana
	font-size: 50px
	font-weight: 700
	line-height: 57px
	text-align: center
	padding-top: 90px
	margin: 0 auto
	margin-bottom: 370px

.categories
	position: relative
	font-size: 0
	overflow: hidden

.categories_wave
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 33px
	& svg
		height: 34px
		fill: #fff

.category_item
	position: relative
	width: 50%

.category_left
	display: inline-block
	float: left
	background: #63d1bb

.category_right
	display: inline-block
	float: right
	text-align: left
	background: #56c3b2

.category_link
	display: inline-block
	width: 25%
	text-decoration: none
	color: white
	font-family: Tahoma
	font-size: 20px
	font-weight: 700
	line-height: 30px
	padding: 25px 40px
	padding-bottom: 46px
	transition: all ease .4s
	&:hover
		opacity: .6

.category_ic
	position: absolute
	top: 30px
	right: 35px
	opacity: .5

.category_ic_interior svg
	width: 41px
	& path
		fill: #149080

.category_ic_toys svg
	width: 61px
	& path
		fill: #149080

// PRODUCT =====================

.product_home
	position: relative
	margin-bottom: 70px

.product
	position: relative
	background: url("../img/content/triple-set-desktop.jpg") no-repeat right top
	-webkit-background-size: 525px
	background-size: 525px

.week_item
	display: inline-block
	margin-top: 55px
	vertical-align: top

.week_item_text
	display: inline-block
	width: 66px
	color: #63d1bb
	font-family: OpenSans
	font-size: 16px
	font-weight: 700
	line-height: 16px
	text-transform: uppercase
	text-align: center
	padding: 0 3.2em
	padding-right: 3.7em

.product_item_text
	display: inline-block

.product_title
	color: black
	font-family: Verdana
	font-size: 50px
	font-weight: 700
	line-height: 57px
	margin-bottom: 50px

.product_description
	color: #444
	font-family: OpenSans
	font-size: 16px
	font-weight: 400
	line-height: 30px
	max-width: 260px
	margin-bottom: 50px

.product_characteristics
	width: 280px

	& td
		color: #444
		font-family: OpenSans
		font-size: 15px
		font-weight: 400
		line-height: 20px
		padding: 8px 0
		border-bottom: 1px solid #cecece

.price
	max-width: 300px
	color: #444
	font-family: Verdana
	font-size: 18px
	font-weight: 700
	line-height: 24px
	text-align: center
	padding: 80px 0 29px 0

.to_order
	color: #444
	font-family: OpenSans
	font-size: 16px
	font-weight: 700
	line-height: 16px
	text-transform: uppercase
	border: 2px solid #444444
	background: none
	padding: 18px 105px
	cursor: pointer
	transition: all ease .4s
	&:hover
		color: #63d1bb
		border-color: #63d1bb

.product_line
	margin-bottom: 70px
	& svg
		fill: #f1f1f1

// ABOUT_US

.about_us_wrapper
	max-width: 700px
	margin: 0 auto

.about_us_title
	color: black
	font-family: Verdana
	font-size: 40px
	font-weight: 700
	line-height: 50px
	margin-bottom: 60px

.about_us_list
	display: inline-block
	list-style: none
	padding: 0

.about_us_item
	position: relative
	color: black
	font-family: Verdana
	font-size: 20px
	font-weight: 700
	padding-top: 55px
	padding-bottom: 60px
	max-width: 321px
	& svg
		position: absolute
		top: 0
		left: 0
		fill: #63d1bb

.list_left
	float: left
	& .about_us_item
		max-width: 251px

.list_right
	float: right

.materials svg
	width: 33px

.style svg
	width: 47px

.likes svg
	width: 34px

.handmade svg
	width: 35px

.support svg
	width: 55px

.gifts svg
	width: 33px

// REVIEW

.review_wrapper
	background: url(../img/content/review-pic.jpg) no-repeat top left

.review_header
	margin-left: 175px

.review_title
	float: left
	display: inline-block
	color: black
	font-family: Verdana
	font-size: 50px
	font-weight: 700
	line-height: 1
	margin: 80px 0 35px 0

.review_button
	float: right
	background: none
	border: 2px solid #444
	color: #444
	font-family: OpenSans
	font-size: 16px
	font-weight: 700
	line-height: 16px
	text-transform: uppercase
	padding: 17px 40px
	margin-top: 85px
	cursor: pointer
	transition: all ease .4s
	&:hover
		color: #63d1bb
		border-color: #63d1bb

.review_list
	list-style: none
	padding: 0
	margin: 0 0 0 175px

.review_item
	max-width: 615px

.review_item_text
	color: #444
	font-family: OpenSans
	font-size: 16px
	font-weight: 400
	line-height: 30px
	margin-bottom: 10px

.review_item_author
	color: black
	font-family: Verdana
	font-size: 16px
	font-weight: 700
	line-height: 24px
	margin: 0 0 105px 0

.author_nickname
	display: block
	color: #444
	font-family: OpenSans
	font-size: 16px
	font-weight: 400
	line-height: 30px

// SLIDER
.bx-wrapper
	border: none
	background: transparent
	box-shadow: none

.bx-wrapper .bx-pager
	display: none

.bx-viewport
	height: 200px

.bx-wrapper .bx-prev
	background: url("../img/sliderArrow.svg") no-repeat center
	left: 86.6%

.bx-wrapper .bx-next
	-webkit-transform: rotate(180deg)
	-moz-transform: rotate(180deg)
	-ms-transform: rotate(180deg)
	-o-transform: rotate(180deg)
	transform: rotate(180deg)
	background: url("../img/sliderArrow.svg") no-repeat center
	right: 20px

.bx-prev,
.bx-next
	font-size: 0

.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover
		background-position: center
		opacity: .7

.bx-wrapper .bx-controls-direction a
	width: 50px
	height: 26px
