@media only screen and (max-width:1281px)

@media only screen and (max-width:1025px)
	.catalog_link
		padding-right: 20px
	.order_link
		padding: 32px 25px
	.sale_link
		padding: 19px 25px
	.new_arrivals_link
		padding-right: 13px

@media only screen and (max-width:975px)
	.logo
		left: calc(50% - 66px)
	.logo_pic
		display: inline-block
		padding: 44px 66px
		background: url(../img/logo-tablet.svg) no-repeat
		background-position-y: center

@media only screen and (max-width:955px)
	.container
		padding: 0 25px

@media only screen and (max-width:910px)
	.container
		padding: 0 50px
	.item_wrapper_left
		display: none

	.logo
		left: 0

	.desktop_menu
		display: none

	.tablet_menu
		display: inline-block

	.delivery
		padding-left: 0


@media only screen and (max-width:768px)


@media only screen and (max-width:670px)
	.tablet_order_link
		padding-right: 15px

@media only screen and (max-width:650px)
	.menu,
	.second_menu_list
		display: none
	.trigger
		display: block

	.search_link .search_link_ic
		padding: 0

	.search_link svg,
	.basket_link svg
		top: 35px

	.search_link_text
		display: inline-block

	.logo
		left: calc(50% - 75px)

	.logo_pic
		padding: 44px 75px
		background: url(../img/logo-mobile.svg) no-repeat
		background-position-y: center


@media only screen and (max-width:481px)

@media only screen and (max-width:425px)
	.container
		padding: 0 25px
@media only screen and (max-width:320px)
	.logo
		left: calc(50% - 44px)
	.logo_pic
		padding: 44px 43px
