doctype html
html(lang='ru')
	include pug/head
	body
		.wrapper
			
			include pug/header

			include  pug/page_home/content_home

		include pug/footer



		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js")
		script(src="js/common.js")