.block_video
	.container
		.video_item.clearfix
			.video
				.video_img
					img(src="img/content/catalog_content/video.jpg")
					button.video_btn
						span.video_btn_triangle
			.video_descr
				h3.video_text_title.video_descr_icon Процесс производства
				.video_text
					p.video_text_descr По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
				button.video_descr_btn Сделать заказ