.content_catalog
	include ../second_menu
	.catalog_title_wrapper
		.container
			.catalog_title
				h1.catalog_title_text Каталог товаров
		.zig_zag_line
		.catalog_product_items
			.container
				.catalog_item