.content_catalog
	include ../second_menu
	.content_wrapper
		.substrate
			.container
				.catalog_title
					h1.catalog_title_text Каталог товаров
		.container
			.catalog_product_items
				.catalog_item