header.header
	.container
		nav.navigation
			ul.menu
				li.menu_item.catalog
					a(href="#").menu_link.catalog_link Каталог товаров
				li.menu_item.order
					a(href="#").menu_link Вязание на заказ
				li.menu_item.logo
					a(href="#").logo_pic
				li.menu_item.search
					a(href="#").menu_link.search_link
						span Поиск
				li.menu_item.basket
					a(href="#").menu_link.basket_link Корзина: 
						span пока пуста