.second_menu
    .container
        ul.second_menu_list.clearfix
            .desktop_menu
                li.second_menu_item
                    a(href="#").second_menu_link.new_arrivals_link Новые поступления
                li.second_menu_item
                    a(href="#").second_menu_link.sale_link Распродажа
            .tablet_menu
                li.second_menu_item
                    a(href="catalog.html").second_menu_link.tablet_catalog_link Каталог Товаров
                li.second_menu_item
                    a(href="#").second_menu_link.tablet_order_link Вязание на заказ
            .item_wrapper_right
                li.second_menu_item
                    a(href="#").second_menu_link.delivery Бесплатная доставка по России

