.product
    .week_item
        span.week_item_text Товар недели
    .product_item_text
        h2.product_title Вязанные корзинки
        p.product_description
        table.product_characteristics(cellspacing=0)
            tr
                td Цвет:
                td «Тиффани»/серый
            tr
                td Диаметр:
                td 5см
            tr
                td Высота:
                td 5см
        p.price Цена: 900 руб.
        button.to_order Заказать

