.review
	.container
		.review_wrapper
			.review_header.clearfix
				h3.review_title Отзывы
				button.review_button Написать
			ul.review_list.bxslider
				li.review_item
					p.review_item_text Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
					p.review_item_author Анастасия Красильникова
						span.author_nickname @misssssiskras
